venv
.DS_Store
__pycache__
.env

Testcases/**
!Testcases/sample
!Testcases/sample/**
!Testcases/1
!Testcases/1/**

Code/**
!Code/sample

Solution/**
!Solution/sample/
!Solution/sample/**
!Solution/1/
!Solution/1/**

log/**
!log/sample.log